@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    background-color: #F2F2F2;
}

.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
  .button_small {
    display: block;
    padding: 8px 34px;
    margin: 0;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 4px; 
}

.button_big {
    display: inline-block;
    padding: 8px 50px;
    font-family: "PT Sans";
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border-width: 0;
    border-radius: 4px;
}

.button_dark {
    background-color: #756157;   
}

.button_dark {
    background-color: #756157;     
}

.button_dark:hover {
    background-color: #615048;     
}

.button_dark:focus {
    background-color: #615048;    
}

.button_dark:focus-visible {
    background-color: #615048;    
}

.button_dark:active {
    color: rgba(255, 255, 255, 0.3);   
    background-color:#756157;  
}
.button_light {
    background-color: #82B3D3; 
}

.button_light:hover {
    background-color: #68A2CA; 
}

.button_light:focus {
    background-color: #68A2CA; 
}

.button_light:focus-visible {
    background-color: #68A2CA; 
}

.button_light:active {
    color: rgba(255, 255, 255, 0.3); 
    background-color: #82B3D3;
}
.button_big:disabled {
    color: #FFFFFF;
    background: #E5E5E5;
}

.button_small:disabled {
    color: #FFFFFF;
    background: #E5E5E5;
}


.page_container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color: #FFFFFF;
    
}

.navigation {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}

.index_link {
    margin-right: 30px;
    height: 64px;
    z-index: 1;
}

.header_logo:hover {  
    opacity: 0.6;      
}

.header_logo:active {
    opacity: 0.3;
}

.navigation_list {
    display: flex;
    flex-wrap: wrap;
    width: 500px;
    margin: 0;
    padding: 0;
    list-style: none;   
}

.active_item {
    position: relative;
}

.active_item::before {
    position: absolute;
    right: 16px;
    left: 16px;
    bottom: 0;
    height: 2px;
    background-color: #756257;
    content: "";
}

.navigation_user {
    width: 339px;
    margin-left: auto;
    justify-content: flex-end;
}

.navigation_user .navigation_link {
    position: relative;
    min-width: 20px;
    min-height: 20px;
    padding: 22px 12px;
    line-height: 14px;
}

.navigation_item .button_small {
    margin-left: 20px;
    margin-top: 14px;
}

.favorites_number {
    position: absolute;
    top: 11px;
    right: 3px;
    padding: 5px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 50% 50%;
}

.navigation_link {
    display: block;
    padding: 20px 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}

.navigation_link:hover {
    color: #756157;
}

.navigation_link:focus {
    color: #756157;
}

.navigation_link:focus-visible {
    color: #756157;
}

.navigation_link:active {
    color: #756157;
    opacity: 0.3;
}

.main_container {
    flex-grow: 1;
}

.hero_content {
    padding-left: 70px;
    padding-right: 70px;
}

.hero_image {
    width: 1200px;
    padding-top: 51px;
    color: #FFFFFF;
    background-color: #75a6b9;
    background-image: url("../images/hero_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_image::after {
    display: block;
    width: 1200px;
    height: 57px;
    background-image: url('../images/hero_divider.svg');
    content: '';
}
.hero_welcome_image {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.advantages {
    padding-top: 69px;
}

.advantages_wrapper {
    margin-bottom: 90px;
    padding-left: 70px;
    padding-right: 70px;
}

.advantages_attention {
    margin: 0 auto;
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
}

.advantages_attention span {
    display: block;
}

.advantages_invitation {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages_title {
    position: relative;
    margin: 0 auto;
    margin-bottom: 62px;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}

.advantages_item .advantages_title::after {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -32px;
    width: 60px;
    height: 2px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
}

.advantages_description_wrap .advantages_title::after {
    background-color: rgba(255, 255, 255, 0.3);
}

.advantages_with_icons .advantages_title::after {
    background: none;
}

.advantages_description {
    margin: 0 auto;
    padding: 0;
    text-align: center;
}

.advantages_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}

.advantages_item {
    padding-top: 103px;
    width: 400px;
}

.advantages_item span {
    display: block;
}

.advantages_image {
    display: block;
    height: 100%;
    object-fit: cover;
}

.advantages_item:nth-child(5),
.advantages_item:first-child {
    display: flex;
    width: 1200px;
    padding: 0;
    color: #FFFFFF;
    background-color: #82B3D3;
}

.advantages_description_wrap {
    flex-grow: 1;
    padding: 92px 70px 10px;
}

.advantages_with_icons {
    padding-top: 182px;
}

.advantages_item:nth-child(6) .advantages_title {
    position: relative;
    margin-bottom: 30px;
 }

 .advantages_item:nth-child(6) .advantages_title::before {
     position: absolute;
    top: -102px;
     left: 50%;
     transform: translateX(-38px);
     height: 72px;
     width: 75px;
     background-image: url("../images/advantages/house.svg");
     content: "";
 }

.advantages_item:nth-child(7) .advantages_title {
    position: relative;
    margin-bottom: 30px;
 }

 .advantages_item:nth-child(7) .advantages_title::before {
     position: absolute;
     top: -102px;
     left: 50%;
     transform: translateX(-38px);
     height: 70px;
     width: 75px;
     background-image: url("../images/advantages/food.svg");
     content: "";
 }

 .advantages_item:nth-child(8) .advantages_title {
    position: relative;
    margin-bottom: 30px;
 }

 .advantages_item:nth-child(8) .advantages_title::before {
     position: absolute;
     top: -104px;
     left: 50%;
     transform: translateX(-32px);
     height: 76px;
     width: 64px;
     background-image: url("../images/advantages/gift.svg");
     content: "";
 }

.advantages_only_text {
    box-sizing: border-box;
    width: 400px;
    margin-bottom: 121px;
    padding-left: 70px;
    padding-right: 70px;
}

.advantages_with_icons {
    box-sizing: border-box;
    width: 400px;
    margin-bottom: 81px;
    padding-left: 70px;
    padding-right: 70px;
}

.advantages_icon {
    margin-bottom: 30px;
}

.search_hotels {
    padding: 96px 70px 0;
    margin-bottom: 96px;
}

.search_hotels_title {
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.search_hotels_description {
    max-width: 592px;
    margin: 0 auto;
    margin-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
} 

.search_hotels_description span {
    display: block;
}

.newsletters_wrapper {
    padding: 96px 70px 104px;
    color: #FFFFFF;
    background-image: url("../images/newsletter_background.jpg");
    background-size: 100% 100%;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
}

.newsletters_inner {
    color: #000000;
    background: transparent;
}

.newsletters {
    text-align: center;
}

.newsletters_title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;  
}

.newsletters_description {
    max-width: 475px;
    margin: 0 auto;
    margin-bottom: 54px;
    padding: 0;
    font-size: 22px;
    line-height: 26px; 
}

.newsletters_email {
    padding-left: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    border-radius: 4px 0 0 4px;
    border: none;
    background-color: #F2F2F2;
}

.newsletters_email::placeholder {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.6);
}

.newsletters_inner .newsletters_description {
    color: #333333;
}

.newsletters_form {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 684px;
    box-sizing: border-box;
    margin: 0 auto;
}

.newsletters_email:hover {
    outline: 3px solid #68A2CA;
}

.newsletters_email:focus {
    outline: 3px solid #68A2CA;
}

.newsletters_email:focus-visible {
    
    outline: 3px solid #68A2CA;
}

.newsletters_email:active {
    outline: 3px solid #3F5E72;
}

.newsletters_email:disabled {
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);   
}

.newsletters_form .button_light {
    border-radius: 0 4px 4px 0;
}

.footer_container {
    display: grid;
    grid-template-columns: 350px auto 350px;
    align-items: start;
    padding: 28px 70px 30px;
}

.footer_social_list {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    margin: 0;
    padding: 0;
    padding-top: 14px;
    padding-bottom: 10px;
    list-style-type: none;
}

.footer_social_item {
    display: block;
    box-sizing: border-box; 
}

.social_link {
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 40px;
    color: #83B3D3;
}

.vkontakte_link{
    padding: 12px 11.6px;
    padding-bottom: 14px;
}

.telegram_link{
  padding: 12px 14.6px;
}

.youtube_link{
    padding: 10.5px 12.6px;
    padding-top: 12.5px;
}

.social_link:hover {
    color: #68A2CA;
}

.social_link:focus {
    color: #68A2CA;
}

.social_link:focus-visible {
    color: #68A2CA;
}

.social_link:active {
    color: rgba(104, 162, 202, 0.3);
}

.footer_link {
    color:#000000;
   text-decoration: none;
}

.footer_link:hover {
    color: #756157;
 }

 .footer_link:focus {
    color: #756157;
}

 .footer_link:focus-visible {
     color: #756157;
 }

 .footer_link:active {
     color:rgba(117, 97, 87, 0.3);
 }

.contacts {
    min-width: min-content;
}

.phone_number {
    display: block;
    font-size: 40px;
    line-height: 40px;
    text-align: right;
    color: #000000;
}

.partners {
    margin: 0;
    margin-left: auto;
    padding-top: 20px;
}

.htmlacademy_link {
    display: block;
    padding-left: 10px;
    padding-bottom: 5px;  
}

.modal_container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(242, 242, 242, 0.8);
}

.modal_show.modal_container {
    display: flex;
}

.modal {
    position: relative;
    background-color: #FFFFFF;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
    border-radius: 30px;  
    margin: auto;
}

.modal_search_hotel {  
    padding: 64px 70px;
}

.modal_close_button {
    position: absolute;
    width: 52px;
    height: 52px;
    top: 64px;
    right: 52px;
    background-color: #F2F2F2;
    border: none;
    border-radius: 50%;
}

.close_icon {
    display: block;
    margin: auto;
}

.modal_close_button:hover {
    background: #E6E6E6;
}

.modal_close_button:focus,
.modal_close_button:focus-visible {
    background: #E6E6E6;
    outline: 3px solid #83B3D3;;
}

.modal_close_button:active {
    background: #E6E6E6;
}

.modal_close_button:active .close_icon {
    opacity: 0.3;
}

.modal_title {
    margin: 0;
    margin-bottom: 64px;
    padding: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: left;
}

.modal_search_form {
    display: grid;
    grid-template-columns: 137px 110px 220px 110px;
    row-gap: 48px;
}

.modal_search_form label {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    padding: 12px 0;
}

.data_entrance, 
.data_exit {
    grid-column: 1/2;
}

.wrap_input_data {
    position: relative;
    grid-column: 2/5;
}

.wrap_input_data::after {
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    top: 14px;
    background-image: url("../images/modal_icons/calendar.svg");
    background-position: center center;
    background-repeat: no-repeat;
    content: "";
    pointer-events: none;
    opacity: 0.3;
}

.entrance_warning,
.help_info {
    position: absolute;
    top: 52px;
    left: 20px;
    display: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FF5757;
}

.help_info {
    color: #333333;
}

.show_warning  .entrance_warning,
.show_help_info .help_info {
    display: block;
}

.form_field_entrance,
.form_field_exit {
    box-sizing: border-box;
    width: 440px;
    height: 48px;
    padding-left: 20px;
    font-family: "PT Sans", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    background: #F2F2F2;
    border-radius: 4px;
    border: none;
}

.form_field_entrance:not(:placeholder-shown),
.form_field_exit:not(:placeholder-shown) {
    background:  #F2F2F2;
}

.form_field_entrance:hover,
.form_field_exit:hover {
    background: #E6E6E6;
    color: rgba(0, 0, 0, 0.6);
}

.form_field_entrance:focus,
.form_field_entrance:focus-visible,
.form_field_exit:focus,
.form_field_exit:focus-visible {
    outline: 3px solid #83B3D3;
    background: #E6E6E6;   
}

.form_field_entrance:active,
.form_field_exit:active {
    outline: 2px solid #000000;
    background: #F2F2F2;
}

.form_field_entrance::placeholder,
.form_field_exit::placeholder {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.adults {
    grid-column: 1/2;
}

.adults_number  {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    background-color: #F2F2F2;
    border: none;
    appearance: textfield;
}

.adults_number::-webkit-outer-spin-button,
.adults_number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.wrapper_adults_number {
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 40px 30px 40px;
}

.minus {
    background-color: #F2F2F2;
    border: none;
}

.plus {
    background-color: #F2F2F2;
    border: none;
}

.icon_minus,
.icon_plus {
    display: block;
    margin: auto;
    opacity: 0.3;
}

.minus:hover  .icon_minus,
.plus:hover  .icon_plus {
    color: #000000;;
    opacity: 1;
}

.minus:focus  .icon_minus,
.plus:focus  .icon_plus {
    color: #000000;;
    opacity: 1;
    outline: 3px solid #82B3D3;
    border-radius: 4px;
}

.minus:active  .icon_minus,
.plus:active  .icon_plus {
    opacity: 0.3;
}

.childs {
    grid-column: 3/4; 
}

.info_childs {
    padding-left: 88px;
}

.tooltip {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: 10px;
}

.tooltip_toggle {
    display: block;
    margin: 0;
    padding: 0;
    border: none;
    background: transparent;
}

.tooltip_icon {
    display: block;
    width: 100%;
    height: 100%;
    color: #83B3D3;
}

.tooltip_toggle:hover  .tooltip_icon {
    color: #68A2CA;
}

.tooltip_text {
    position: absolute;
    top: 41px;
    right: -109px;
    z-index: 1;
    display: none;
    width: 256px;
    box-sizing: border-box;
    padding-top: 15px;
    padding-right: 18px;
    padding-bottom: 18px;
    padding-left: 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    border-radius: 10px;
    background: #333333;
}
.tooltip_text:after {
    position:absolute;
    left:0;
    right:0;
    width: 19px;
    height: 9px;
    bottom: 100%;
    margin-left: auto;
    margin-right: auto;
    background-image: url("../images/modal_icons/triangle.svg");
    content:'';
  }

.tooltip_toggle:hover +.tooltip_text,
.tooltip_toggle:focus +.tooltip_text {
    display: block;
}

.wrapper_childs_number {
    grid-column: 4/5;
    display: grid;
    grid-template-columns: 40px 30px 40px;
    
}

.childs_number  {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    background-color: #F2F2F2;
    border: none;
    appearance: textfield;
}

.childs_number::-webkit-outer-spin-button,
.childs_number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.adults_number:hover,
.childs_number:hover {
    color: rgba(0, 0, 0, 0.6);
}

.adults_number:focus,
.adults_number:focus-visible,
.childs_number:focus,
.childs_number:focus-visible {
    color: rgba(0, 0, 0, 0.6);
}

.adults_number:active,
.childs_number:active {
    color: rgba(0, 0, 0, 0.3);
}

.modal_search_button {
    grid-column: 1/-1;
    padding-top: 12px;
    padding-bottom: 12px;
}

.catalog_container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    background-color:  #FFFFFF;
}  

.filters {
    width: 1200px;
    box-sizing: border-box;
    padding: 35px 70px 44px;
    color: #FFFFFF;
    background-image: url("../images/catalog_background.jpg");
    background-size: cover;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
}

.inner_header_title {
    margin: 0;
    padding: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}

.breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    line-height: 21px;
    list-style-type: none;
}

.breadcrumbs_link {
    margin-right: 11px;
    font-size: 16px;
    text-decoration: none;
    color: #FFFFFF;
}

.breadcrumbs_link:hover {
    color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs_link:focus {
    color: #FFFFFF;
}

.breadcrumbs_link:focus-visible {
    color: #FFFFFF;
}

.breadcrumbs_link:active {
    color: rgba(255, 255, 255, 0.3);
}

.hotel_filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.filter_group_list {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
}

.hotel_filter_group:first-child {
    margin-right: 70px;
}

.filter_group_price {
    display: flex;
    flex-wrap: wrap;
    margin-left: 70px;
}

.hotel_filter_group {
    margin: 0;
    margin-right: 70px;
    padding: 0;
    line-height: 23px;
    border: none;
}

.hotel_filter_list {
    margin: 0;
    padding: 0;
    padding-bottom: 30px;
    list-style-type: none;
}

.hotel_filter_title {
    margin-bottom: 32px;
    padding: 0;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.hotel_filter_item {
    margin-bottom: 16px;
}

.hotel_filter_item:last-child {
    margin-bottom: 0;
}

.control {
    position: relative;
    display: block;
    padding-left: 36px;
}

.control_mark {
    position: absolute;
    left: 0;
    top: 1px;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 4px;
}

.control_input {
    margin-bottom: 16px;
    font-size: 18px;
    line-height: 23px;
}

.control_input[type="checkbox"]:checked + .control_mark::before {
    position: absolute;
    left: 4px;
    top: 5px;
    width: 12px;
    height: 10px;
    background-image: url(../images/check.svg);
    content: "";
}

.control_input[type="radio"] +.control_mark {
    border-radius: 50%;
}

.control_input[type="radio"]:checked + .control_mark::before {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
    content: "";
}

.control:hover .control_mark {
    opacity: 0.6;
}

.control_input:focus + .control_mark, 
.control_input:focus-visible + .control_mark {
    outline: 3px solid #83B3D3;
}

.control_input:active +.control_mark {
    opacity: 0.3;
}

.control_input:disabled + .control_mark {
    opacity: 0.3;
}

.range_wrapper_inputs {
    position: relative;
    display: grid;
    height: 48px;
    grid-template-columns: 143px 143px;
    column-gap: 2px;
    margin-bottom: 44px;
}

.range_input {
    padding-left: 20px;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    border: none;
    background: #F2F2F2;
    appearance: textfield;
}

.range_input::-webkit-outer-spin-button,
.range_input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

.range_wrapper_inputs::after {
    position: absolute;
    left: 106px;
    top: 12px;
    color: #000000;
    opacity: 0.6;
    content: "от";
    pointer-events: none;
}

.range_wrapper_inputs::before {
    position: absolute;
    left: 248px;
    top: 12px;
    color: #000000;
    opacity: 0.6;
    content: "до";
    pointer-events: none;
}

.range_input:hover {
    outline: 2px solid #68A2CA;
}

.range_input:focus, 
.range_input:focus-visible {  
    outline: 2px solid #68A2CA;
}

.range_input:active {
    outline: 2px solid #3F5E72;
}

.range_input:disabled {
    color: rgba(0, 0, 0, 0.3); 
    outline: none;  
}

.price_min {
    border-radius:4px 0 0 4px;
}

.price_max {
    border-radius: 0 4px 4px 0;
}

.range_bar_scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}

.range_bar {
    position: absolute; 
    top: 0;
    height: 4px;
    background-color:  #FFFFFF;
}

.range_toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.toggle_min {
    top: -8px;
}

.toggle_max {
    top: -8px;
    left: 207px;
}

.range_toggle:hover {
    background: #E6E6E6;
}

.range_toggle:focus, 
.range_toggle:focus-visible {
    outline: 3px solid #83B3D3;
}

.range_toggle:active {
    background: #E6E6E6;
}

.range_toggle:disabled {
    opacity: 0.3;
}

.button_container {
    width: 191px;
    padding-top: 56px;
}

.submit_button {
    margin-bottom: 32px;
    padding-left: 50px;
    padding-right: 50px;
}

.reset_button {
    padding-left: 57px;
    padding-right: 58px;
    background-color: transparent;
}

.reset_button:hover {
    color: rgba(255, 255, 255, 0.6);
}

.reset_button:focus {
    color: #FFFFFF;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.reset_button:focus-visible {
    color: #FFFFFF;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}

.reset_button:active {
    color: rgba(255, 255, 255, 0.3);
}

.reset_button:disabled {
    color: #FFFFFF;
    opacity: 0.1;
}

.hotel_result {
    box-sizing: border-box;
    padding: 50px 70px 0;
}

.header_result {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 38px;
}

.result_title {
    align-self: center;
    margin: 0;
    margin-right: 200px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}

.select_control {
    padding-left: 20px;
    font-family: "PT Sans";
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    appearance: none;
    background-image: url("../images/select_arrow.svg");
    background-repeat: no-repeat;
    background-position: right 18px center;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.select_control:hover {
    border: 2px solid #68A2CA;
}

.select_control:focus {
    outline: none;
    border: 2px solid #68A2CA;
}

.select_control:focus-visible {
    outline: none;
    border: 2px solid #68A2CA;
}

.select_control:active {
    border: 2px solid #3F5E72;
}

.select_control:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);   
}

.wrap_select {
    display: grid;
    grid-template-columns: 292px;
    height: 49px;
    margin-right: 70px;
}

.wrap_view {
    display: flex;
    align-items: center;
}

.hotel_view {
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin-right: 8px;
    padding-top: 11px;
    text-align: center;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}

.hotel_view:hover {
    border: 2px solid #000000;
}

.hotel_view:focus {
    outline: none;
    border: 2px solid #68A2CA;
}

.hotel_view:focus-visible {
    outline: none;
    border: 2px solid #68A2CA;
}

.hotel_view:active {
    border: 2px solid  #000000;
}

.active_view {
    border: 2px solid  #000000;
}

.hotel_view:last-child {
    margin-right: 0;
}

.hotel_list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 20px;
    margin: 0;
    margin-bottom: 38px;
    padding-bottom: 40px;
    padding-left: 0;
    list-style-type: none;
    border-bottom: 1px solid #E6E6E6;
}

.hotel_card {
    display: grid;
    grid-template-columns: 140px 140px;
    align-items: center;
    column-gap: 20px;
    row-gap: 16px;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}

.hotel_card_link {
    grid-column-end: span 2;
    text-decoration: none;
}

.hotel_card_image {
    display: block;
    margin-bottom: 16px;
}

.hotel_card_title {
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.rate {
    display: flex;
    justify-content: space-between;
    grid-column-end: span 2;
    margin: 0;  
}

.card_buttons {
    display: grid;
    grid-template-columns: 140px 140px;
    grid-column-end: span 2;
    column-gap: 20px;
    margin: 0;
}

.button_more {
    padding-left: 26px;
    padding-right: 26px;
}

.to_favorites{
    padding-left: 20px;
    padding-right: 20px;
}

.added_favorites {
    padding-left: 18px;
    padding-right: 18px;
    background-color: #7DB54F;
}

.added_favorites:hover {
    background-color: #6C9E42;
}

.added_favorites:focus {
    background-color: #6C9E42;
}

.added_favorites:focus-visible {
    background-color: #6C9E42;
}

.added_favorites:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}

.rate_star {
    width: 0;
    height: 20px;
    margin: 0;
    background-image: url("../images/star.svg");
    background-repeat: space;
}

.one_star {
    width: 20px;
}

.two_stars {
    width: 42px;
}

.three_stars{
    width: 65px; 
 }

.four_stars {
    width: 89px;
}

.five_stars {
    width: 90px;
}

.rate_value {
    margin: 0;
    padding: 9px 22px 8px 23px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    background-color: #F2F2F2;
    border-radius: 4px;
}

.pagination {
    display: flex;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}

.pagination_item {
    list-style-type: none;
}

.pagination_link {
    display: block;
    box-sizing: border-box;
    min-width: 60px;
    min-height: 60px;
    margin-right: 8px;
    padding: 5px;
    padding-top: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    list-style-type: none;
    color: #FFFFFF;
    background-color: #82B3D3;
    border-radius: 4px;
}

:not(.active_page).pagination_link:hover {
    background-color: #68A2CA;
}

:not(.active_page).pagination_link:focus {
    background-color: #68A2CA;
}

:not(.active_page).pagination_link:focus-visible {
    background-color: #68A2CA;
}

:not(.active_page).pagination_link:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}

.active_page {
    color: #000000;
    background: #F2F2F2;;
}

.more {
    color: #000000;
    background: none;
}