@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/ptsans-400.woff2) format("woff2");
    font-display: swap;
}
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/ptsans-700.woff2) format("woff2");
    font-display: swap;
}
html {
    height: 100%;
}
body {
    display: flex;
    min-height: 100%;
    margin: 0;
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #333333;
}
.visually_hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
.page_container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
    text-align: center;
}
.navigation {
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
}
.index_link {
    margin-right: 30px;
    height: 64px;
    z-index: 1;
}
.header_logo {  
    overflow: visible;   
}
.navigation_list {
    display: flex;
    flex-wrap: wrap;
    width: 339px;
    margin: 0;
    padding: 0;
    list-style: none;   
}
.active_item {
    position: relative;
}
.active_item::before {
    position: absolute;
    right: 16px;
    left: 16px;
    top: calc(50% + 32px);
    height: 2px;
    background-color: #756257;
    content: "";
}
.navigation_user {
    margin-left: auto;
    justify-content: flex-end;
}
.navigation_user .navigation_link {
    position: relative;
    min-width: 20px;
    min-height: 20px;
    line-height: 14px;
    padding: 22px 12px;
}
.navigation_item .button_small {
    margin-left: 20px;
    margin-top: 14px;
}
.favorites_number {
    position: absolute;
    top: 11px;
    right: 3px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    background-color: #7DB54F;
    border-radius: 50% 50%;
    padding: 5px;
}
.navigation_link {
    display: block;
    padding: 20px 16px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration: none;
    color: #000000;
}
.navigation_link:hover {
    color: #756157;
}
.navigation_link:focus {
    color: #756157;
}
.navigation_link:focus-visible {
    color: #756157;
}
.navigation_link:active {
    color: #756157;
    opacity: 0.3;
}
.button_small {
    font-family: "PT Sans";
    display: inline-block;
    border-width: 0;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 8px 34px;
    margin: 0;
    color: #FFFFFF; 
}
.button_dark {
    background-color: #756157;     
}
.button_dark:hover {
    background-color: #615048;     
}
.button_dark:focus {
    background-color: #615048;    
}
.button_dark:focus-visible {
    background-color: #615048;    
}
.button_dark:active {
    background-color:#756157; 
    color: rgba(255, 255, 255, 0.3);    
}
.main_container {
    flex-grow: 1;
}
.hero_content {
    padding-left: 70px;
    padding-right: 70px;
}
.hero_image {
    width: 1200px;
    background-color: #333333;
    background-image: url("../images/hero_background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 51px;
    color: #FFFFFF;
}
.hero_image::after {
    content: '';
    display: block;
    width: 1200px;
    height: 57px;
    background-image: url('../images/hero_divider.svg');
}
.hero_welcome_image {
    display: block;
    margin: 0 auto;
    margin-bottom: 25px;
}

.advantages {
    padding-top: 69px;
}
.advantages_wrapper {
    margin-bottom: 90px;
}
.advantages_attention {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto;
    margin-bottom: 25px;
    text-transform: uppercase;
}
.advantages_attention span {
    display: block;
}
.advantages_invitation {
    margin: 0;
    padding: 0;
    font-size: 22px;
    line-height: 26px;
    color: #333333;
}

.advantages_title {
    position: relative;
    margin: 0 auto;
    margin-bottom: 62px;
    padding: 0;
    max-width: 175px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-transform: uppercase;
}
.advantages_item:not(.advantages_with_icons) .advantages_title::after {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 60px;
    height: 2px;
    background-color: rgba(0, 0, 0, 0.3);
    content: "";
}
.advantages_item>.advantages_description_wrap .advantages_title::after {
    position: absolute;
    margin: 0 auto;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    width: 60px;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.3);
    content: "";
}
.advantages_description {
    margin: 0 auto;
    padding: 0;
    max-width: 230px;
    text-align: center;
}
.advantages_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: center;
    list-style: none;
}
.advantages_item {
    padding-top: 103px;
    width: 400px;
}
.advantages_image {
    display: block;
}
.advantages_item:nth-child(5),
.advantages_item:first-child {
    display: flex;
    padding: 0;
    background-color: #82B3D3;
    color: #FFFFFF;
    width: 1200px;
}
.advantages_description_wrap {
    flex-grow: 1;
    padding-top: 92px;
}
.advantages_with_icons {
    padding-top: 182px;
}
.advantages_item:nth-child(6) .advantages_title {
    position: relative;
 }
 .advantages_item:nth-child(6) .advantages_title::before {
     position: absolute;
     bottom: 58px;
     left: 50%;
     transform: translateX(-38px);
     background-image: url("../images/advantages/house.svg");
     height: 72px;
     width: 75px;
     content: "";
 }
.advantages_item:nth-child(7) .advantages_title {
    position: relative;
 }
 .advantages_item:nth-child(7) .advantages_title::before {
     position: absolute;
     bottom: 58px;
     left: 50%;
     transform: translateX(-38px);
     background-image: url("../images/advantages/food.svg");
     height: 70px;
     width: 75px;
     content: "";
 }
 .advantages_item:nth-child(8) .advantages_title {
    position: relative;
 }
 .advantages_item:nth-child(8) .advantages_title::before {
     position: absolute;
     bottom: 58px;
     left: 50%;
     transform: translateX(-38px);
     background-image: url("../images/advantages/gift.svg");
     height: 76px;
     width: 64px;
     content: "";
 }

.advantages_only_text>.advantages_description {
    margin-bottom: 121px;
}
.advantages_with_icons>.advantages_description {
    margin-bottom: 81px;
}
.advantages_icon {
    margin-bottom: 30px;
}
.search_hotels {
    padding-top: 96px;
    margin-bottom: 96px;
}
.search_hotels_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
    color: #000000;
    text-transform: uppercase;
}
.search_hotels_description {
    max-width: 592px;
    margin: 0 auto;
    margin-bottom: 54px;
    font-size: 22px;
    line-height: 26px;
}
.button_big {
    font-family: "PT Sans";
    display: inline-block;
    border-width: 0px;
    border-radius: 4px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    padding: 8px 50px;
    color: #FFFFFF;
}
.button_dark {
    background-color: #756157;   
}
.newsletters_wrapper {
    background-image: url("../images/newsletter_background.jpg");
    background-size: cover;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: 96px;
    padding-bottom: 104px;
    color: #FFFFFF;
}
.newsletters_inner {
    background: transparent;
    color: #000000;
}
.newsletters {
    text-align: center;
}
.newsletters_title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;  
}
.newsletters_description {
    max-width: 475px;
    margin: 0 auto;
    margin-bottom: 54px;
    padding: 0;
    font-size: 22px;
    line-height: 26px; 
}
.newsletters_email {
    font: inherit;
    padding-left: 20px;
}
.newsletters_email::placeholder {
    color: rgba(0, 0, 0, 0.6);
}
.newsletters_inner>.newsletters_description {
    color: #333333;
}
.newsletters_form {
    display: grid;
    grid-template-columns: 1fr auto;
    width: 684px;
    box-sizing: border-box;
    margin: 0 auto;
}
.newsletters_email:hover {
    border: 2px solid #68A2CA;
}
.newsletters_email:focus {
    outline: none;
    border: 2px solid #68A2CA;
}
.newsletters_email:focus-visible {
    outline: none;
    border: 2px solid #68A2CA;
}
.newsletters_email:active {
    border: 2px solid #3F5E72;
}
.newsletters_email:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);   
}
.newsletters_form .button_light {
    border-radius: 0px 4px 4px 0px;
}
.button_light {
    background-color: #82B3D3; 
}
.button_light:hover {
    background-color: #68A2CA; 
}
.button_light:focus {
    background-color: #68A2CA; 
}
.button_light:focus-visible {
    background-color: #68A2CA; 
}
.button_light:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3); 
}
.footer_container {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    column-gap: 42px;
    justify-content: center;
    align-items: center;
    padding: 40px 70px 30px;
}
.footer_social_list {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.footer_social_item {
    display: block;
    box-sizing: border-box;
    
}
.social_link {
    display: block;
    box-sizing: border-box;
    width: 48px;
    height: 40px;
    color: #83B3D3;
}
.vkontakte_link{
    padding: 13px 11.6px;
}
.telegram_link{
  padding: 12px 14.6px;
}
.youtube_link{
    padding: 11.5px 12.6px;
}
.social_link:hover {
    color: #68A2CA;
}
.social_link:focus {
    color: #68A2CA;
}
.social_link:focus-visible {
    color: #68A2CA;
}
.social_link:active {
    color: rgba(104, 162, 202, 0.3);
}
.footer_link {
    color:#000000;
   text-decoration: none;
}
.footer_link:hover {
    color: #756157;
 }
 .footer_link:focus {
    color: #756157;
}
 .footer_link:focus-visible {
     color: #756157;
 }
 .footer_link:active {
     color:rgba(117, 97, 87, 0.3);
 }

.social_footer_icon {
    margin: 0 auto;
    padding: 12px; 
}
.contacts {
    min-width: min-content;
}
.phone_number {
    display: block;
    font-size: 40px;
    line-height: 40px;
    text-align: center;
    color: #000000;
}
.partners {
    margin: 0;
    margin-left: auto;
}
.htmlacademy_link {
    display: block;
    padding-left: 10px;  
}
.catalog_container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 1200px;
    margin: 0 auto;
}
.inner_header_title {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    
}
.filters {
    width: 1200px;
    background-image: url("../images/catalog_background.jpg");
    background-size: cover;
    background-color: #333333;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    padding: 30px 70px 70px;
    color: #FFFFFF;
}
.inner_header_title {
    margin: 0;
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
}
.breadcrumbs {
    display: flex;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    list-style-type: none;
}
.breadcrumbs_link {
    font-size: 16px;
    line-height: 21px;
    margin-right: 11px;
    text-decoration: none;
    color: #FFFFFF;
}
.breadcrumbs_link:hover {
    color: rgba(255, 255, 255, 0.6);
}
.breadcrumbs_link:focus {
    color: #FFFFFF;
}
.breadcrumbs_link:focus-visible {
    color: #FFFFFF;
}
.breadcrumbs_link:active {
    color: rgba(255, 255, 255, 0.3);
}
.hotel_filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filter_group_list {
    display: grid;
    grid-template-columns: 150px 150px;
    column-gap: 70px;
}
.filter_group_price {
    display: grid;
    grid-template-columns: 288px 191px;
    column-gap: 70px;
}

.hotel_filter_group {
    border: 0 none;
    margin: 0;
    padding: 0;
    line-height: 23px;
}
.hotel_filter_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.hotel_filter_title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 32px;
}
.hotel_filter_item {
    margin-bottom: 16px;;
}
.control {
    position: relative;
    display: block;
    padding-left: 36px;
}
.control_mark {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 0;
    top: 1px;
    background-color: #FFFFFF;
    border-radius: 4px;
}
.control_input {
    font-size: 18px;
    line-height: 23px;
    margin-bottom: 16px;
}
.control_input[type="checkbox"]:checked + .control_mark::before {
    position: absolute;
    width: 12px;
    height: 10px;
    left: 4px;
    top: 5px;
    background-image: url(../images/check.svg);
    content: "";
}
.control_input[type="radio"] +.control_mark {
    border-radius: 50%;
}
.control_input[type="radio"]:checked + .control_mark::before {
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #3F5E72;
    left: 5px;
    top: 5px;
    content: "";
}
.control:hover .control_mark {
    opacity: 0.6;
}
.control_input:focus + .control_mark, 
.control_input:focus-visible + .control_mark {
    outline: 3px solid #83B3D3;
}
.control_input:active +.control_mark {
    opacity: 0.3;
}
.control_input:disabled + .control_mark {
    opacity: 0.3;
}
.range_wrapper_inputs {
    position: relative;
    display: grid;
    height: 48px;
    grid-template-columns: 143px 143px;
    column-gap: 2px;
    margin-bottom: 36px;
}
.range_input {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    border: none;
    background: #F2F2F2;
    appearance: textfield;
}
.range_input::-webkit-outer-spin-button,
.range_input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.range_wrapper_inputs::after {
    position: absolute;
    color: #000000;
    left: 106px;
    top: 12px;
    opacity: 0.6;
    content: "от";
}
.range_wrapper_inputs::before {
    position: absolute;
    color: #000000;
    left: 248px;
    top: 12px;
    opacity: 0.6;
    content: "до";
}
.range_input:hover {
    outline: 2px solid #68A2CA;
}
.range_input:focus, 
.range_input:focus-visible {
    
    outline: 2px solid #68A2CA;
}
.range_input:active {
    outline: 2px solid #3F5E72;
}
.range_input:disabled {
    color: rgba(0, 0, 0, 0.3); 
    outline: none;  
}

.price_min {
    border-radius:4px 0 0 4px;
}
.price_max {
    border-radius: 0 4px 4px 0;
}

.range_bar_scale {
    position: relative;
    height: 4px;
    background-color: rgba(255, 255, 255, 0.3);
}
.range_bar {
    position: absolute; 
    top: 0px;
    height: 4px;
    background-color:  #FFFFFF;
}
.range_toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: none;
}

.toggle_min {
    top: -8px;
}
.toggle_max {
    top: -8px;
    left: 217px;
}
.range_toggle:hover {
    background: #E6E6E6;
}
.range_toggle:focus, 
.range_toggle:focus-visible {
    outline: 3px solid #83B3D3;
}
.range_toggle:active {
    background: #E6E6E6;
}
.range_toggle:disabled {
    opacity: 0.3;
}
.button_container {
    width: 191px;
}
.button_container {
    padding-top: 56px;
}
.submit_button {
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 32px;
}
.reset_button {
    background-color: transparent;
    padding-left: 57px;
    padding-right: 58px;
}
.reset_button:hover {
    color: rgba(255, 255, 255, 0.6);
}
.reset_button:focus {
    color: #FFFFFF;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.reset_button:focus-visible {
    color: #FFFFFF;
    outline: 3px solid #83B3D3;
    border-radius: 4px;
}
.reset_button:active {
    color: rgba(255, 255, 255, 0.3);

}
.reset_button:disabled {
    color: #FFFFFF;
    opacity: 0.1;
}
.hotel_result {
    box-sizing: border-box;
    padding: 50px 70px 60px;
}
.header_result {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 40px;
}
.result_title {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    margin: 0;
    align-self: center;
    color: #000000;
}
.select_control {
    font-size: 18px;
    line-height: 21px;
    color: #333333;
    padding-left: 20px;
    appearance: none;
    background-image: url("../images/select_arrow.svg");
    background-repeat: no-repeat;
    background-position: right 21px center;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
}
.select_control:hover {
    border: 2px solid #68A2CA;
}
.select_control:focus {
    outline: none;
    border: 2px solid #68A2CA;
}
.select_control:focus-visible {
    outline: none;
    border: 2px solid #68A2CA;
}
.select_control:active {
    border: 2px solid #3F5E72;
}
.select_control:disabled {
    border: 2px solid rgba(0, 0, 0, 0.3);   
}
.wrap_view {
    display: flex;
}
.wrap_select {
    display: grid;
    grid-template-columns: 292px;
    height: 49px;
}
.hotel_view {
    display: block;
    border: 2px solid #E5E5E5;
    border-radius: 4px;
    width: 48px;
    height: 48px;
    box-sizing: border-box;
    text-align: center;
    padding-top: 13px;
    margin-right: 8px;
}
.hotel_view:hover {
    border: 2px solid #000000;
}
.hotel_view:focus {
    outline: none;
    border: 2px solid #68A2CA;
}
.hotel_view:focus-visible {
    outline: none;
    border: 2px solid #68A2CA;
}
.hotel_view:active {
    border: 2px solid  #000000;
}
.hotel_view:last-child {
    margin-right: 0;
}
.hotel_list {
    display: grid;
    grid-template-columns: repeat(3, 340px);
    grid-gap: 20px;
    list-style-type: none;
    margin: 0;
    margin-bottom: 80px;
    padding: 0;
}
.hotel_card {
    display: grid;
    grid-template-columns: 140px 140px;
    align-items: center;
    padding: 20px;
    column-gap: 20px;
    row-gap: 16px;
    box-sizing: border-box;
    border: 1px solid #E6E6E6;
    border-radius: 4px;
}
.hotel_card_link {
    text-decoration: none;
    grid-column-end: span 2;
}
.hotel_card_image {
    display: block;
    margin-bottom: 16px;
}
.hotel_card_title {
    font-weight: 700;
    margin: 0;
    padding: 0;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}
.rate {
    display: flex;
    justify-content: space-between;
    grid-column-end: span 2;
    margin: 0;  
}
.card_buttons {
    margin: 0;
    display: grid;
    grid-template-columns: 140px 140px;
    grid-column-end: span 2;
    column-gap: 20px;
}
.button_more {
    padding-left: 26px;
    padding-right: 26px;
}
.to_favorites{
    padding-left: 20px;
    padding-right: 20px;
}
.added_favorites {
    padding-left: 18px;
    padding-right: 18px;
    background-color: #7DB54F;
}
.added_favorites:hover {
    background-color: #6C9E42;
}
.added_favorites:focus {
    background-color: #6C9E42;
}
.added_favorites:focus-visible {
    background-color: #6C9E42;
}
.added_favorites:active {
    background-color: #7DB54F;
    color: rgba(255, 255, 255, 0.3);
}
.rate_star {
   width: 0;
    height: 20px;
    background-image: url("../images/star.svg");
    background-repeat: space;
    margin: 0;
}
.one_star {
    width: 20px;
}
.two_stars {
    width: 40px;
}
.three_stars{
    width: 60px; 
 }
.four_stars {
    width: 89px;
}
.five_stars {
    width: 90px;
}
.rate_value {
    margin: 0;
    font-size: 16px;
    line-height: 20px;
    padding: 9px 22px 8px 23px;
    background-color: #F2F2F2;
    border-radius: 4px;
    text-transform: uppercase;
    text-align: center;
}
.pagination {
    display: flex;
    margin: 0;
    margin-bottom: 60px;
    padding: 0;
}
.pagination_item {
    list-style-type: none;
}
.pagination_link {
    display: block;
    list-style-type: none;
    box-sizing: border-box;
    background-color: #82B3D3;
    border-radius: 4px;
    width: 60px;
    height: 60px;
    margin-right: 8px;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    text-decoration: none;
    text-align: center;
    padding-top: 12px;
    color: #FFFFFF;
}
:not(.active_page).pagination_link:hover {
    background-color: #68A2CA;
}
:not(.active_page).pagination_link:focus {
    background-color: #68A2CA;
}
:not(.active_page).pagination_link:focus-visible {
    background-color: #68A2CA;
}
:not(.active_page).pagination_link:active {
    background-color: #82B3D3;
    color: rgba(255, 255, 255, 0.3);
}
.active_page {
    color: #000000;
    background: #F2F2F2;;
}
.more {
    color: #000000;
    background: none;
}
.button_big:disabled {
    background: #E5E5E5;
    color: #FFFFFF;
}
.button_small:disabled {
    background: #E5E5E5;
    color: #FFFFFF;
}